////
/// @author       Web Team at Canonical Ltd
////

/// footer styles
/// @group footer

/* @section footer
-------------------------------------------------------------- */
@mixin vf-footer {
  .footer {
    background-color: transparent;

    &__heading {
      color: $warm-grey;
      font-size: .75em;
      letter-spacing: .05em;
      margin-bottom: 0;
      padding-bottom: .75em;
      text-transform: uppercase;
    }
  }
}
