////
/// @author       Web Team at Canonical Ltd
////

/// footer styles
/// @group footer

/* @section footer
-------------------------------------------------------------- */
// scss-lint:disable NestingDepth, UrlFormat, SelectorFormat, NameFormat
@mixin vf-footer {
  %footer__heading {
    color: $warm-grey;
    font-size: .75em;
    letter-spacing: .05em;
    margin-bottom: 0;
    padding-bottom: .75em;
    text-transform: uppercase;
  }

  .footer {
    background-color: transparent;

    &__heading {
      @extend %footer__heading;

      &--external {
        @extend %footer__heading;

        &::before {
          background-size: 14px 14px;
          background-image: url('https://assets.ubuntu.com/v1/e1b12fdd-external-link-grey.svg'), none;
          background-repeat: no-repeat;
          content: '';
          display: inline-block;
          height: 15px;
          width: 15px;
          margin-right: 3px;
          top: 3px;
          position: relative;
        }
      }
    }
  }

  .no-svg .footer__heading--external {
    background-image: url('https://assets.ubuntu.com/v1/e1b12fdd-external-link-grey.svg?fmt=png');
  }
}
// scss-lint:enable NestingDepth, UrlFormat, SelectorFormat, NameFormat
