////
/// @author       Web Team at Canonical Ltd
////

/// header styles
/// @group 
@mixin canonical-header {
  .banner {
    box-shadow: none;
    
    .nav-primary ul {
      border: 0;
      display: none;
      margin: 0;
      padding: 0;
      width: 100%;
      @media only screen and (min-width: $navigation-threshold) {
        border-left: 1px solid $header-dark-border;
        border-right: 1px solid $header-light-border;
        display: block;
        width: auto;
      }

      li {
        border-right: 0;
        width: 100%;

        @media only screen and (min-width: $navigation-threshold) {
          border-left: 0;
          border-right: 0;
          width: auto;

          &:last-child {
            border-right: 0;
          }

          a, 
          a:link,
          a:visited {
            border-left: 1px solid $header-light-border;
            border-right: 1px solid $header-dark-border;
          }

          a:hover {
            background-color: $header-dark-border;
            border-right: 1px solid transparent;
          }
        }
      }

      .nav-toggle {
        display: block;
      }
    }
  }
}