////
/// @author       Web Team at Canonical Ltd
////

/// strip class styles
/// @group
@mixin canonical-strips {
  .inner-wrapper {
    max-width: $content-max-width;
  }

  .strip-dark,
  .strip-light {
    clear: both;
  }

  .strip-dark {
    background-color: $dark-aubergine;
    // scss-lint:disable UrlFormat
    background-image: url('http://www.canonical.com/static/img/backgrounds/background-grid.png');
    // scss-lint:enable UrlFormat
    background-repeat: repeat;
    color: $light-link;

    &.solid {
      background-image: none;
      background-color: $dark-aubergine;
    }

    h1 {
      color: $light-link;
    }
  }

  .strip-light {
    background-color: rgba(255, 255, 255, .6);
  }
}
