////
/// @author       Web Team at Canonical Ltd
////

/// Typographic element styles
/// @group Typography
@mixin canonical-typography {
  h1 {
    color: $brand-color;
    font-size: 1.625em;
    margin-bottom: .5em;
  }

  h2 {
    font-size: 1.438em;
    margin-bottom: .5em;
  }

  h3 {
    font-size: 1.219em;
    margin-bottom: .522em;
  }

  h4 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: .615em;
  }

  h5 {
    font-size: .813em;
    font-weight: 700;
    margin-bottom: 1em;
  }

  h6 {
    font-size: .723em;
    font-weight: 400;
    letter-spacing: .1em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  p,
  li {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: .75em;
    margin: 0;
    padding: 0;
  }

  ol+h2, 
  p+h2, 
  pre+h2, 
  ul+h2 {
    margin-top: .563em;
  }

  ol+h3, 
  p+h3, 
  pre+h3, 
  ul+h3 {
    margin-top: .783em;
  }

  ol+h4, 
  p+h4, 
  pre+h4, 
  ul+h4 { 
    margin-top: 1.219em;
  }

  @media only screen and (min-width : 984px) {
    h1 {
      font-size: 2.8125em;
    }

    h2 {
      font-size: 2em;
      margin-bottom: .375em;
    }

    h3 {
      font-size: 1.438em;
      margin-bottom: .522em;
    }

    h4 {
      font-size: 1em;
      margin-bottom: .75em;
    }

    h5 { font-size: 1em; }

    p,
    li,
    code,
    pre {
      font-size: 1em;
      line-height: 1.5;
      margin-bottom: .75em;
    }
  }
}
